<% content_for :page_title do %>
  <%= t(:prize) %>
  :
  <%= @prize.title %>
<% end %>

<% content_for :page_actions do %>
    <%= button_link_to t(:back_to_prizes),  admin_prizes_path, icon: 'arrow-left' %>
    <%= button_link_to t(:edit_prize),  edit_admin_prize_path, icon: 'edit' %>

  <%# Don't show the choose winner button if the the entry period hasn't ended %>
  <% if !@prize.remaining %>
      <%= button_link_to 'Choose Winner', admin_prize_winner_path, method: 'PATCH', icon: 'star' %>
  <% end %>
<% end %>

<p><b>Begin Time:</b> <%= @prize.begin_time.strftime('%D %H:%M') %></p>
<p><b>End Time:</b> <%= @prize.end_time.strftime('%D %H:%M')  %></p>
<p><b>Description:</b> <%= @prize.description %></p>
<p><b>Meta Description:</b> <%= @prize.meta_description %></p>
<br />

<% if @prize.image_file_name %>
  <p><%= image_tag @prize.image.url(:medium) %></p>
<% end %>

<hr />

<% unless @candidates.empty? %>
  <%= render partial: 'spree/shared/prizes/candidates/candidates' %>
<% end %>
