<%# Open Graph Meta Tags %>
<%= content_for :meta do %>
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:title" content="<%= Spree::t('social_title') %>" />
  <% if @prizes.any? %>
    <meta property="og:description" content="<%= @prizes.first.meta_description ?
      @prizes.first.meta_description : '' %>" />
    <meta property="og:image" content="<%= @prizes.first.image.url(:medium) %>" />
  <% end %>
<% end %>

<%= content_for :head do %>
  <%= stylesheet_link_tag 'flipclock' %>
  <%= stylesheet_link_tag 'prizes' %>
  <%= javascript_include_tag 'spree/frontend/ftw_sharing' %>
  <%= javascript_include_tag 'flipclock.min' %>
<% end %>

<div class="banner-box">
  <div class="container">
    <div class="text-box">
      <div class="wrap-container">
        <div class="wrap">
          <h2>#FTW</h2>
        </div>
        <div class="wrap">
          <h3>FOR THE WIN</h3>
        </div>
        <div class="wrap">
          <h4>SICK SWAG PACKS EVERY WEEK</h4>
        </div>
      </div>
      <div class="wrap-container">
      <% if @prizes.any? %>
        <div class="form-area">
          <%= form_for Spree::Candidate.new, format: :json, url: prize_candidates_path(@prizes.first, Spree::Candidate.new), remote: true, html: { class: 'candidate-form' } do |candidate| %>
            <div class="form-box clearfix">
              <%= candidate.text_field :email, placeholder: 'Email Address' %>
              <%= button_tag 'ENTER NOW' %>
            </div>
          <% end %>
        </div>
        <div class="wrap-social-area">
          <div class="social-area">
            <h6>OR SHARE FOR AN ENTRY</h6>
            <ul class="social-box clearfix">
              <li>
                <button id="facebook-share-link">
                  <i class="fa fa-facebook fa-2x"></i>
                </button>
              </li>
              <li class="hidden">
                <a href="https://twitter.com/share?url=<%= URI.encode(request.original_url) %>&text=<%= URI.encode(Spree::t('social_title') + ': ' + @prizes.first.meta_description) %>&hashtags=boombotix,FTW&related=boombotix" target="_blank">
                  <i class="fa fa-twitter fa-2x"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="container">
    <% if @prizes.any? %>
      <div class="top-area clearfix">
        <div class="wrap-row clearfix">
          <div class="left-cell">
            <h2>THIS WEEK&apos;S PRIZE</h2>
          </div>
          <div class="right-cell">
            <div class="timer-box">
              <h6>Next drawing in:</h6>
              <div class="wrap-clock">
                <div class="clock clearfix" data-time="<%= @prizes.first.remaining %>"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% @prizes.each do |p| %>
        <div class="wrap-row clearfix">
          <div class="left-cell">
            <h3><%= p.title %></h3>
          </div>
          <div class="right-cell">
            <div class="wrap-img">
              <% if p.image_file_name %>
                <%= image_tag p.image.url(:medium) %>
              <% end %>
            </div>
          </div>
          <p><%= p.description %></p>
        </div>

        <div class="form-search form-area">
          <%= form_for Spree::Candidate.new, format: :json, url: prize_candidates_path(p, Spree::Candidate.new), remote: true, html: { class: 'candidate-form' } do |candidate| %>
            <div class="form-box clearfix">
              <%= candidate.text_field :email, placeholder: 'Email Address' %>
              <%= button_tag 'ENTER NOW' %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="top-area clearfix">
        <div class="wrap-row clearfix">
          <div>
            <h2>Stand By...</h2>
          </div>
          <div>
            <h6>We're getting the next #FTW Swag Pack ready to go. Please check back soon.</h6>
          </div>
        </div>
      </div>
    <% end %>
    <div class="table-box">
      <h2>THE WINNER&apos;S CIRCLE</h2>
      <div class="wrap-table">
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Name</th>
              <th class="hidden-xs">City</th>
              <th>Prize</th>
            </tr>
          </thead>
          <tbody>
            <% @winners.each do |winner| %>
              <tr>
                <td><%= winner.winable.end_time.strftime('%m/%d/%y') %></td>
                <td><%= winner.name %></td>
                <td class="hidden-xs"><%= "#{winner.city}, #{winner.state}" %></td>
                <td><%= winner.winable.title %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%# TODO: handle success from email submission %>
<script>
$(document).ready(function(){


  if ($('.clock').length) {
    var time_remaining = $('.clock').attr('data-time');
    $('.clock').FlipClock(time_remaining, {
      clockFace: 'DailyCounter',
      countdown: true,
      showSeconds: false,
      autoStart: true
    });
  }
});
</script>
